.admin-only {
    display: none;
}
body.admin .admin-only {
    display: initial;
}

input[type=number] {
    pointer-events: none;
}
body.admin input[type=number],
body.editor input[type=number] {
    pointer-events: all;
}

 body.ranking-mode hr
,body.ranking-mode #title
,body.ranking-mode #configuration
,body.ranking-mode #schedule > *:not(#rankings)
{
    display: none;
}

body.ranking-mode .container {
    max-width: none;
}
body.ranking-mode #rankings {
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
    justify-content: space-around;
    align-items: center;
}
body.ranking-mode #rankings .ranking-table {
    margin: 20px 60px;
    flex-grow: .4;
}
.ranking-table {
    overflow: auto;
}

.knockout-tables, iframe, .iframe-link {
    display: none;
}
body.show-knockout-tables .knockout-tables,
body.show-iframe :is(iframe, .iframe-link) {
    display: block;
}


td input[type=number] {
    width: 35px;
    height: 20px;
    font-size: 0.7em;
}
#knockout-table td{
    text-align: center;
    font-size: 0.9em;
}
#knockout-table td.level0{
    width:100%;
}
#knockout-table td.level1{
    width:50%;
}
#knockout-table td.level2{
    width:25%;
}
#knockout-table td.level3{
    width:12.5%;
    font-size: 0.8em;
}
#knockout-table td.level4{
    width:6.25%;
    font-size: 0.6em;
}
#knockout-table td.seed{
    border: none;
    background-color: #eee;
}

td.score {
    display: flex;
    align-items: baseline;
    gap: 2px;
}

.marked {
    background-color: yellow !important;
}

.prologue img {
    max-width: 100%;
}
.ql-size-large {
    font-size: 1.5rem;
    font-weight: 500;
}
.ql-size-small {
    font-size: small;
}

@media screen and (max-width: 600px) {
    table .id-col {
        display: none;
    }
    table th.field-col {
        font-size: 0
    }
    .container {
        padding-right: 8px;
        padding-left: 8px;
    }
    thead.mobile-only {
        display: table-header-group !important;
    }
    thead.desktop-only {
        display: none;
    }
    .display-4 {
        font-size: 2.5rem !important;
    }
}
