.admin-only {
    display: none;
}
body.admin .admin-only {
    display: initial;
}

input[type=number] {
    pointer-events: none;
}
body.admin input[type=number] {
    pointer-events: all;
}


td input[type=number] {
    width: 35px;
    height: 20px;
    font-size: 0.7em;
}
#knockout-table td{
    text-align: center;
    font-size: 0.9em;
}
#knockout-table td.level0{
    width:100%;
}
#knockout-table td.level1{
    width:50%;
}
#knockout-table td.level2{
    width:25%;
}
#knockout-table td.level3{
    width:12.5%;
    font-size: 0.8em;
}
#knockout-table td.level4{
    width:6.25%;
    font-size: 0.6em;
}
#knockout-table td.seed{
    border: none;
    background-color: #eee;
}


/*.diff-5{background:#f00}*/
/*.diff-4{background:#f66}*/
/*.diff-3{background:#faa}*/
/*.diff-2{background:#fdd}*/

/*.diff5{background:#0f0}*/
/*.diff4{background:#6f6}*/
/*.diff3{background:#afa}*/
/*.diff2{background:#dfd}*/

#rankings.flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
#rankings.flex .ranking-table{
    margin: 20px 60px;
    flex-grow: .4;
}